@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

* {
  font-family: 'Monsterrat', sans-serif;
  color: #2F4346;
}

.logo{
  font-family: 'DM Serif Display', serif;
}


/* h1, h2, h3 .monsterrat {
  color: 'logo-orange';
} */

/* svg for nav */
.nav {
  width: 40px; /* Adjust width and height as needed */
  height: 40px;
  background-image: url('./assets/nav.svg');
  background-size: contain; /* Ensure SVG fits inside button */
  background-repeat: no-repeat; /* Prevent SVG from repeating */
  background-position: center; /* Center SVG within button */
  border: none; /* Remove button border */
  cursor: pointer; 
}

.arrow {
  width: 40px; /* Adjust width and height as needed */
  height: 40px;
  background-image: url('./assets/arrow.svg');
  background-size: contain; /* Ensure SVG fits inside button */
  background-repeat: no-repeat; /* Prevent SVG from repeating */
  background-position: center; /* Center SVG within button */
  border: none; /* Remove button border */
  cursor: pointer; 
}

.arrow-container{
  position: fixed;
    bottom: 20px;
    left: 50%;
    /* transform: translateX(-50%); */
    z-index: 50;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.bgGrid{
  background-size: 40px 40px;
  background-image: linear-gradient(to right, white 1px, transparent 1px), linear-gradient(to bottom white 1px, transparent 1px);
}

/* create a special button class */
button, .button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: 'logoOrange';
  cursor: pointer;
  transition: border-color 0.2s;
}

button:hover{
  border-color: 'highlight'
}

button:focus, :focus-visible{
  outline: 4px auto -webkit-focus-ring-color;
}

.specialBtn{
  border-color: #204b4f;
}
.specialBtn:hover{
  border-color: 'logoOrange';
}

